[commit]
	gpgsign = true
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[credential]
	helper = osxkeychain
[hub]
	protocol = https
[user]
	email = cafedomancer@gmail.com
	name = Shohei Umemoto
	signingkey = 8A9EC0A679F1FBAC
