[submodule ".vim/pack/plugins/start/vim-auto-save"]
	path = .vim/pack/plugins/start/vim-auto-save
	url = https://github.com/907th/vim-auto-save.git
[submodule ".vim/pack/plugins/start/vim-bracketed-paste"]
	path = .vim/pack/plugins/start/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/plugins/start/vim-dracula"]
	path = .vim/pack/plugins/start/vim-dracula
	url = https://github.com/dracula/vim.git
[submodule ".vim/pack/plugins/start/vim-endwise"]
	path = .vim/pack/plugins/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/start/vim-indent-line"]
	path = .vim/pack/plugins/start/vim-indent-line
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/pack/plugins/start/vim-sensible"]
	path = .vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/pack/plugins/start/vim-sleuth"]
	path = .vim/pack/plugins/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule ".vim/pack/plugins/start/vim-supertab"]
	path = .vim/pack/plugins/start/vim-supertab
	url = https://github.com/ervandew/supertab.git
