[commit]
	gpgSign = true
[core]
	editor = vim
	excludesFile = /Users/cafedomancer/.gitignore_global
[fetch]
	prune = true
[hub]
	protocol = https
[user]
	email = cafedomancer@gmail.com
	name = cafedomancer
	signingKey = B5D27F650A61DFC7
